.startContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  gap: 32px;
  padding: 25px;
  background-color: var(--secondary-color);
  width: min(500px);
}

.startContainer h2 {
  font-size: 32px;
  font-weight: 600;
  color: var(--primary-color);
  text-align: center;
}
