:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
  --tertiary-color: #dddddd;
  --warning-color: #dc1919;
  --success-color: #4dc14d;
  --focus-color: #9a82db;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
